.container {
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container h2 {
    margin-top: 50px;
    margin: auto;
    color: gray;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    width: 50%
}

.wishlistContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    padding: 20px 10.4% 20px 10.4%;
}