.container {
    display: flex;
    flex-direction: column;
}

.featuredImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    height: 925px;
    overflow-y: hidden;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    width: 100px;
    margin-top: 20px;
}

.featuredImagesLoading {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    min-height: 1000px;
}

.loading img {
    width: 20px;
}

.containerListingProduct {
    width: 80%
}

/* .hiddenLoading {
    display: none;
} */